<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <SourceTree.Properties.Settings>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>1201.3333333333333</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="GitWhichOne" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllowModifyConfigFiles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AllowBareRepositories" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultFullName" serializeAs="String">
                <value>makikashu</value>
            </setting>
            <setting name="DefaultEmail" serializeAs="String">
                <value>2018casmakikashu@gmail.com</value>
            </setting>
            <setting name="LastOpenTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AnonymousID" serializeAs="String">
                <value>dc5bb366-e67d-487c-ada0-2a83cad56842</value>
            </setting>
            <setting name="SSHClientType" serializeAs="String">
                <value>PuTTY</value>
            </setting>
            <setting name="ProxyServerMode" serializeAs="String">
                <value>OperatingSystem</value>
            </setting>
            <setting name="HgWhichOne" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableGitSupport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableHgSupport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowScreenDeviceName" serializeAs="String">
                <value>\\.\DISPLAY1</value>
            </setting>
            <setting name="GitSystemPath" serializeAs="String">
                <value>C:\Users\makki\AppData\Local\Atlassian\SourceTree\git_local</value>
            </setting>
            <setting name="HgSystemPath" serializeAs="String">
                <value>C:\Users\makki\AppData\Local\Atlassian\SourceTree\hg_local</value>
            </setting>
            <setting name="LegacyAccountPersistenceServiceLoadEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SidebarIsOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotificationGettingStartedShown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AasLastSubmitted" serializeAs="String">
                <value>05/12/2025 18:02:42</value>
            </setting>
        </SourceTree.Properties.Settings>
    </userSettings>
</configuration>